@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://unpkg.com/tachyons@4/css/tachyons.min.css');
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1600px;
  margin: 20px 10px 0px 10px;
}
